<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Регистратура</title>
        <style></style>
    </head>

    <body>
        <div>
            <a href="/registration/${registrationBilet.patient.id}/registration-bilet"><input type="submit" value="Зарегистрированные талоны" class="b btn-7"></a>
            <a href="/doctors/${registrationBilet.doctor.id}"><input type="submit" value="Список докторов" class="b btn-7"></a>
        </div>
        <table>
            <#list registrationBiletList as registrationBilet>
                <tr>
                    <td>${registrationBilet.biletNumber}</td>
                    <td>${registrationBilet.registratioDate}</td>
                    <td>${registrationBilet.doctor.doctorFullName}</td>
                    <!-- Можно добавить функционал по переходу на врача -->
                    <td>${registrationBilet.patient.patientFullName}</td>
                    <!-- Можно добавить функционал по переходу на пациента -->
                    <!-- Можно добавить функционал по удалению строки -->
                </tr>
            </#list>
        </table>
    </body>
</html>